{% extends "admin/bars.html.twig" %}



{% block title %} Demande de congés {% endblock %}



{% block contentpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>{#<a href="{{ path('app_salarie') }}"> Liste des salariés </a> >>#} Nouvelle demande de congés </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
{#                        <h2>Nouvelle demande de congés</h2>#}
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(congesForm) }}
                        {{ form_widget(congesForm) }}
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_home') }}">Annuler</a>
                                <button type="submit" onclick="return confirm('Êtes vous sûr de vouloir faire cette demande ?\nVotre responsable de service sera notifié par email.')" value="submit" name="valider" class="btn btn-success"> Enregistrer </button>
                            </div>
                        </div>
                        {{ form_end(congesForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}