{% extends "admin/bars.html.twig" %}

{% if demande.etat == 'en attente' %}
    {% set color = "#ffff99" %}
{% elseif demande.etat == 'validée' %}
    {% set color = "#99ff99" %}
{% elseif demande.etat == 'refusée' %}
    {% set color = "#ff8080" %}
{% endif %}

{% block title %} Demande de congés {% endblock %}

{% block contentpage %}
    <div class="">
        <div class="clearfix"></div>
                <div style="display: flex; flex-direction: column; font-size: 16px">
                    <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 0" class="x_title">
                        <h2 style="font-size: 25px" >
                            Demande de congés
                        </h2>
                        <h2>
                            <strong> De : </strong> <i class="fa fa-user"></i> {{ salarie.prenom }} {{ salarie.nom }}
                        </h2>
                        <h2>
                            <strong> Effectuée le : </strong> &nbsp;<i class="fa fa-calendar"></i> &nbsp;{{ demande.datedemande | date("d / m / Y") }}
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center" class="x_content">
                        <table style="width: auto; margin: 3rem" id="example" class="display table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th style="width: 20%"> Nature : </th>
                                <td style="vertical-align: middle; width: 50%; text-align: center">{{ demande.nature }}</td>
                            </tr>
                            {% if demande.motif %}
                                <tr>
                                    <th> Motif : </th>
                                    <td style="vertical-align: middle; overflow-wrap: anywhere;">{{ demande.motif }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th> Date de début : </th>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ demande.datedebut | date("d / m / Y") }} &nbsp; ({{ demande.typedatedebut }})
                                </td>
                            </tr>
                            <tr>
                                <th> Date de fin : </th>
                                <td style="vertical-align: middle; text-align: center">
                                    {{ demande.datefin | date("d / m / Y") }} &nbsp; ({{ demande.typedatefin }})
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; flex-direction: row">
                            <a class="btn btn-success" title="Valider la demande" onclick="return confirm('Êtes vous sûr de vouloir accepter la demande ?\nVous ne pourrez pas revenir sur votre décision.')" href="{{ path('app_conges_valider', {id: demande.id, userId: demande.userId}) }}">
                                <i class="fa fa-check"></i>
                                Valider
                            </a>
                            <a class="btn btn-danger" title="Refuser la demande" onclick="return confirm('Êtes vous sûr de vouloir refuser la demande ?\nVous ne pourrez pas revenir sur votre décision.')" href="{{ path('app_conges_refuser', {id: demande.id, userId: demande.userId}) }}">
                                <i class="fa fa-times"></i>
                                Refuser
                            </a>
                            <a class="btn btn-warning" title="Laisser en attente" onclick="return confirm('Êtes vous sûr de vouloir laisser la demande en attente pour l&#145;instant ?\nVous pourrez toujours revenir prendre votre décision en cliquant une nouvelle fois sur le lien que vous avez reçu par mail.')" href="{{ path('app_conges_attente', {id: demande.id, userId: demande.userId}) }}">
                                <i class="fa fa-question-circle"></i>
                                En attente
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}