{% extends "admin/bars.html.twig" %}

{% block title %} Nouveau salarié {% endblock %}

{% block contentpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5><a href="{{ path('app_salarie') }}"> Liste des salariés </a> >> Nouveau salarié </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nouveau salarié</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(salarieForm) }}
                        {{ form_widget(salarieForm) }}
                        <p style="font-size: 13px"> Les champs marqués d'un caractère * sont les champs requis </p>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_salarie') }}">Annuler</a>
                                <button type="submit" onclick="return confirm('Êtes vous sûr de vouloir ajouter ce salarié ?\nUn e-mail lui sera envoyé afin afin qu&#145;il initialise son mot de passe')" name="valider" class="btn btn-success"> Enregistrer </button>
                            </div>
                        </div>
                        {{ form_end(salarieForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}