{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block stylesheets %}
	<meta
	http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta
	name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link
	href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Font Awesome -->
	<link
	href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<!-- NProgress -->
	<link
	href="{{ asset('vendors/nprogress/nprogress.css') }}" rel="stylesheet">
	<!-- Animate -->
	<link
	href="{{ asset('vendors/animate.css/animate.css') }}" rel="stylesheet">
	<!-- iCheck -->
	<link
	href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="{{ asset('build/css/custom.min.css') }}" rel="stylesheet">
{% endblock %}
{% block bodyclass %}class="login"
{% endblock %}
{% block body %}

	<div style="margin: 1rem" class="right_col" role="main">
		{% for message in app.flashes("error") %}
			<div style="font-size: 17px; display: flex; flex-direction: column; align-items: center" class="alert alert-danger alert-dismissible " role="alert">
				<div>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					<strong>Erreur :</strong>
					{{ message }}
				</div>
			</div>
		{% endfor %}
		{% for message in app.flashes("success") %}
			<div style="font-size: 15px; display: flex; flex-direction: column" class="alert alert-success alert-dismissible " role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<strong>Succès :</strong>
				{{ message }}
			</div>
		{% endfor %}
		{% block contentpage %}{% endblock %}
	</div>

	<div>
		<a class="hiddenanchor" id="signup"></a>
		<a class="hiddenanchor" id="signin"></a>
		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form method="post">
						<h1>Delko RH</h1>
						<div>
							<label style="font-size: 1rem" for="inputText"> E-mail </label> <input type="text" value="{{ last_username }}" name="email" id="inputText" class="form-control" required autofocus>
						</div>
						<div>
							<label style="font-size: 1rem" for="inputPassword"> Mot de passe </label> <input type="password" name="password" id="inputPassword" class="form-control" required>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<div style="margin-bottom: 18px">
						{# TODO: remember me #}
{#							<input type="checkbox" class="" name="_remember_me"><span>Se souvenir de moi (à faire)</span>#}
						</div>
						<div>
							<button class="btn btn-success submit" href="index.html">Se connecter</button>
{#							<a class="reset_pass" href="{{path('app_forgot_password_request')}}">Mot de passe perdu ?</a>#}
						</div>
						<div class="separator">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
							{% endif %}
							<div class="clearfix"></div>
							<br/>

							<div>
								<img style="width: 36%" src="{{ asset('build/images/logo-delko.png') }}" alt="logo delko">
{#								<p>#}
{#									©{{ "now"|date("Y") }}#}
{#									tous droits réservés#}
{#									<a target="_blank" href="https://www.delko.fr/"> delko.fr </a>#}
{#								</p>#}
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- jQuery & Bootstrap -->
	<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('vendors/jquery-validation/dist/jquery.validate.js') }}"></script>
	<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
	<!-- jQuery & Bootstrap -->
{% endblock %}
