{% extends "admin/bars.html.twig" %}

{% block title %} Utilisateurs {% endblock %}

{% block contentpage %}
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h5>
					Liste
				</h5>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Liste des utilisateurs</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a href="{{ path('app_admin_new_user') }}"><button class="btn btn-success"> Nouvel utilisateur </button></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<table id="example" class="display table table-striped table-bordered dataminetables">
								<thead style="text-align:center">
									<th>Nom d'utilisateur</th>
									<th>Email</th>
									<th>Nom complet</th>
									<th>Modifier</th>
									<th>Supprimer</th>
								</thead>
								<tbody>
									{% for user in users  %}
										<tr>
											<td>{{ user.username }}</td>
											<td>{{ user.email }}</td>
											<td>{{ user.nomComplet }}</td>
											<td style="text-align:center">
												<a class="btn btn-primary" href="{{ path('app_admin_edit_user',{"id":user.id}) }}">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td style="text-align:center">
												<a href="{{ path('app_admin_delete_user', {'id': user.id}) }}" class="btn btn-danger disable-btn del-link" type="submit">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
