{% extends "admin/bars.html.twig" %}

{% block title %} Nouveau service {% endblock %}

{% block contentpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5><a href="{{ path('app_service') }}"> Liste des services </a> >> Nouveau service </h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="font-size: 16px" class="x_panel">
                    <div class="x_title">
                        <h2>Nouveau service</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(serviceForm) }}
                        {{ form_widget(serviceForm) }}
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-warning" href="{{ path('app_service') }}">Annuler</a>
                                <button type="submit" name="valider" class="btn btn-success"> Enregistrer </button>
                            </div>
                        </div>
                        {{ form_end(serviceForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}